@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,600&display=swap);

@charset "UTF-8";

@font-face {
  font-family: Recoleta;
  font-display: swap;
  src: url("../fonts/Recoleta-SemiBold.woff2") format("woff2"), url("../fonts/Recoleta-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #163A24;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background-color: #163A24;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  max-width: 100%;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.header__input {
  background-color: #163A24;
  width: 7.1875rem;
}

.header__button {
  color: #FBFAF7;
  font-size: 1rem;
  border-radius: 10rem;
  background: #198C36;
  padding: 0.9375rem 1.5625rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  padding-top: 2.6875rem;
  padding-bottom: 1.5rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo img {
  max-width: 100%;
}

.footer__title {
  color: #163A24;
  text-align: center;
  font-family: Recoleta;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  /* 150% */
}

.footer__aocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.footer__text {
  font-size: 0.875rem;
  line-height: 1.5;
  /* 150% */
}

.footer__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
  color: #198C36;
  font-size: 0.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.footer__aside a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.title-block {
  padding-top: 3.125rem;
  background-color: #163A24;
}

.title-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-block__content {
  max-width: 28.125rem;
}

.title-block__title {
  color: #FBFAF7;
  font-family: Recoleta;
  font-weight: 600;
  line-height: 1.35;
}

.title-block__text {
  color: #FBFAF7;
  line-height: 1.5;
}

.title-block__image img {
  max-width: 100%;
}

.aside-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.aside-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-block__image img {
  max-width: 100%;
}

.aside-block__content {
  max-width: 24.5625rem;
}

.aside-block__title {
  font-family: Recoleta;
  font-weight: 600;
  line-height: 1.22;
  /* 112.5% */
  padding-bottom: 1.375rem;
}

.aside-block__text {
  line-height: 1.5;
  /* 150% */
}

.partners-block__title {
  text-align: center;
  font-family: Recoleta;
  font-weight: 600;
  line-height: 1.22;
  /* 112.5% */
}

.partners-block__title:not(:last-child) {
  margin-bottom: 4.25rem;
}

.partners-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners-block__image img {
  max-width: 100%;
}

.production-block {
  background-color: #163A24;
}

.production-block__title {
  color: #FBFAF7;
  text-align: center;
  font-weight: 600;
  line-height: 1.22;
  font-family: Recoleta;
  /* 112.5% */
}

.production-block__title:not(:last-child) {
  margin-bottom: 4.1875rem;
}

.production-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.production-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 12.375rem;
}

.production-block__image img {
  max-width: 100%;
}

.production-block__image:not(:last-child) {
  margin-bottom: 1.75rem;
}

.production-block__text {
  color: #FBFAF7;
  text-align: center;
  line-height: 1.5;
  /* 150% */
}

.employees-block {
  background-color: #F2EFE6;
}

.employees-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employees-block__title {
  text-align: center;
  font-weight: 600;
  line-height: 1.22;
  max-width: 46.1875rem;
  font-family: Recoleta;
  /* 112.5% */
}

.employees-block__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.employees-block__text {
  text-align: center;
  line-height: 1.5;
  /* 150% */
  max-width: 47.5rem;
}

.employees-block__text:not(:last-child) {
  padding-bottom: 1rem;
}

.employees-block__image img {
  max-width: 100%;
}

.aside-block-one__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-block-one__title {
  font-weight: 600;
  line-height: 1.22;
  max-width: 23.75rem;
  font-family: Recoleta;
  /* 112.5% */
}

.aside-block-one__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.aside-block-one__text {
  line-height: 1.5;
  /* 150% */
  max-width: 23.6875rem;
}

.aside-block-one__text:not(:last-child) {
  padding-bottom: 1rem;
}

.aside-block-one__image img {
  max-width: 100%;
}

.cards-block__title {
  font-weight: 600;
  line-height: 1.22;
  text-align: center;
  font-family: Recoleta;
  /* 112.5% */
}

.cards-block__title:not(:last-child) {
  margin-bottom: 1.625rem;
}

.cards-block__text {
  line-height: 1.5;
  /* 150% */
  text-align: center;
}

.cards-block__text:not(:last-child) {
  padding-bottom: 1.125rem;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2.5rem;
}

.card-content__body {
  border-radius: 0.9375rem;
  background-color: #FBFAF7;
  -webkit-box-shadow: 0.3125rem 0.3125rem 1.25rem 0rem #E9E4D5;
          box-shadow: 0.3125rem 0.3125rem 1.25rem 0rem #E9E4D5;
  padding: 3.125rem 1.875rem 4.125rem 1.875rem;
}

.card-content__image img {
  max-width: 100%;
}

.card-content__image:not(:last-child) {
  margin-bottom: 1.25rem;
}

.card-content__title {
  max-width: 17.5rem;
  font-family: Recoleta;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.1;
  /* 112.5% */
}

.card-content__title:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.card-content__item {
  margin-left: 1.25rem;
  font-size: 1rem;
}

.card-content__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.aside-block-two {
  background-color: #F2EFE6;
}

.aside-block-two__title {
  font-weight: 600;
  line-height: 1.22;
  text-align: center;
  font-family: Recoleta;
  /* 112.5% */
}

.aside-block-two__title:not(:last-child) {
  margin-bottom: 1.625rem;
}

.aside-block-two__text {
  line-height: 1.5;
  /* 150% */
  text-align: center;
}

.aside-block-two__text:not(:last-child) {
  padding-bottom: 3.75rem;
}

.aside-block-two__button {
  text-align: center;
}

.aside-block-two__button a {
  background-color: #198C36;
  font-size: 1rem;
  padding: 0.9375rem 1.5625rem;
  border-radius: 10rem;
  color: #FBFAF7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.3125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.1875rem;
}

.cards__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.5625rem;
          flex: 0 1 24.5625rem;
}

.cards__content {
  max-width: 16.25rem;
}

.cards__title {
  text-align: center;
  line-height: 1.5;
  /* 150% */
}

.cards__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.cards__text {
  text-align: center;
  font-family: Recoleta;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1;
  /* 112.5% */
}

.cards__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.cards__background {
  background: url("../img/page/aside-block-two/03.svg") 0 0 no-repeat;
  position: absolute;
  left: -5%;
  top: -50%;
  width: 17.8125rem;
  height: 11.25rem;
}

.aside-block-three__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-block-three__title {
  font-weight: 600;
  line-height: 1.22;
  /* 112.5% */
  max-width: 23.75rem;
  font-family: Recoleta;
}

.aside-block-three__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.aside-block-three__text {
  line-height: 1.5;
  /* 150% */
  max-width: 23.6875rem;
}

.aside-block-three__text:not(:last-child) {
  margin-bottom: 2.125rem;
}

.aside-block-three__button a {
  background-color: #198C36;
  font-size: 1rem;
  padding: 0.9375rem 1.5625rem;
  border-radius: 10rem;
  color: #FBFAF7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.aside-block-four {
  background-color: #163A24;
}

.aside-block-four__container {
  position: relative;
  text-align: center;
}

.aside-block-four__title {
  color: #FBFAF7;
  font-weight: 600;
  line-height: 1.22;
  /* 112.5% */
  font-family: Recoleta;
}

.aside-block-four__title:not(:last-child) {
  margin-bottom: 1.625rem;
}

.aside-block-four__text {
  line-height: 1.5;
  /* 150% */
  color: #FBFAF7;
}

.aside-block-four__text:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.aside-block-four__button a {
  background-color: #FAB5A0;
  font-size: 1rem;
  padding: 0.9375rem 1.5625rem;
  border-radius: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icons-block__item {
  position: absolute;
}

.icons-block__item_1 {
  bottom: 0;
  left: -6%;
}

.icons-block__item_2 {
  bottom: 0;
  right: -6%;
}

.aside-block-five {
  background-color: #F2EFE6;
}

.aside-block-five__container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.aside-block-five__title {
  font-weight: 600;
  line-height: 1.22;
  /* 112.5% */
  font-family: Recoleta;
}

.aside-block-five__title:not(:last-child) {
  margin-bottom: 1.625rem;
}

.aside-block-five__text {
  line-height: 1.5;
  /* 150% */
  padding-bottom: 1.625rem;
}

.form-block__body {
  max-width: 34.5625rem;
  background-color: #fff;
  border-radius: 15.9375rem;
  border: 1px solid #F2EFE6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-block__body:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.form-block__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 1.25rem;
}

.form-block__button {
  border-radius: 10rem;
  background-color: #15762E;
  padding: 0.9375rem 1.5625rem;
  color: #FBFAF7;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form-block__text {
  max-width: 32.75rem;
  font-family: Noto Sans;
  font-size: 0.875rem;
  line-height: 1.5;
  /* 150% */
}

.form-block a {
  font-family: Noto Sans;
  font-size: 0.875rem;
  line-height: 1.5;
  /* 150% */
  color: #198C36;
  display: inline-block;
  padding-left: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 75.625em) {
  .footer__body {
    margin-bottom: 4.375rem;
  }

  .title-block__title {
    font-size: 3rem;
  }

  .title-block__text {
    font-size: 1.125rem;
  }

  .aside-block {
    padding-top: 7.5rem;
  }

  .aside-block {
    padding-bottom: 7.0625rem;
  }

  .aside-block__body {
    padding-left: 6.125rem;
  }

  .aside-block__body {
    padding-right: 6.125rem;
  }

  .aside-block__body {
    gap: 6.125rem;
  }

  .aside-block__title {
    font-size: 3rem;
  }

  .partners-block__container {
    padding-left: 6.125rem;
  }

  .partners-block__container {
    padding-right: 6.125rem;
  }

  .partners-block__title {
    font-size: 3rem;
  }

  .partners-block__content {
    padding-bottom: 7.5rem;
  }

  .production-block__container {
    padding-top: 4.125rem;
  }

  .production-block__container {
    padding-bottom: 8.6875rem;
  }

  .production-block__title {
    font-size: 3rem;
  }

  .employees-block__container {
    padding-top: 8.8125rem;
  }

  .employees-block__container {
    padding-bottom: 8.4375rem;
  }

  .employees-block__title {
    font-size: 3rem;
  }

  .aside-block-one__container {
    padding-top: 11.25rem;
  }

  .aside-block-one__container {
    padding-bottom: 7.375rem;
  }

  .aside-block-one__container {
    padding-left: 6.125rem;
  }

  .aside-block-one__container {
    padding-right: 6.125rem;
  }

  .aside-block-one__container {
    gap: 6.125rem;
  }

  .aside-block-one__title {
    font-size: 3rem;
  }

  .cards-block__container {
    padding-bottom: 7.5rem;
  }

  .cards-block__title {
    font-size: 3rem;
  }

  .aside-block-two {
    padding-top: 9rem;
  }

  .aside-block-two {
    padding-bottom: 7.75rem;
  }

  .aside-block-two__title {
    font-size: 2.9375rem;
  }

  .cards__image {
    padding-left: 1.875rem;
  }

  .aside-block-three__container {
    padding-top: 8.125rem;
  }

  .aside-block-three__container {
    padding-bottom: 8.4375rem;
  }

  .aside-block-three__container {
    padding-left: 6.125rem;
  }

  .aside-block-three__container {
    padding-right: 6.125rem;
  }

  .aside-block-three__container {
    gap: 11.375rem;
  }

  .aside-block-three__title {
    font-size: 3rem;
  }

  .aside-block-four__container {
    padding-top: 7.125rem;
  }

  .aside-block-four__container {
    padding-bottom: 7.75rem;
  }

  .aside-block-four__title {
    font-size: 3rem;
  }

  .aside-block-five__title {
    font-size: 3rem;
  }
}

@media (max-width: 20em) {
  .footer__body {
    margin-bottom: 2.5rem;
  }

  .title-block__title {
    font-size: 1.875rem;
  }

  .title-block__text {
    font-size: 1rem;
  }

  .aside-block {
    padding-top: 3.125rem;
  }

  .aside-block {
    padding-bottom: 3.125rem;
  }

  .aside-block__body {
    padding-left: 0.3125rem;
  }

  .aside-block__body {
    padding-right: 0.3125rem;
  }

  .aside-block__body {
    gap: 1.25rem;
  }

  .aside-block__title {
    font-size: 1.5rem;
  }

  .partners-block__container {
    padding-left: 0.3125rem;
  }

  .partners-block__container {
    padding-right: 0.3125rem;
  }

  .partners-block__title {
    font-size: 1.875rem;
  }

  .partners-block__content {
    padding-bottom: 3.125rem;
  }

  .production-block__container {
    padding-top: 3.125rem;
  }

  .production-block__container {
    padding-bottom: 3.125rem;
  }

  .production-block__title {
    font-size: 1.875rem;
  }

  .employees-block__container {
    padding-top: 3.125rem;
  }

  .employees-block__container {
    padding-bottom: 3.125rem;
  }

  .employees-block__title {
    font-size: 1.875rem;
  }

  .aside-block-one__container {
    padding-top: 3.125rem;
  }

  .aside-block-one__container {
    padding-bottom: 3.125rem;
  }

  .aside-block-one__container {
    padding-left: 0.3125rem;
  }

  .aside-block-one__container {
    padding-right: 0.3125rem;
  }

  .aside-block-one__container {
    gap: 1.25rem;
  }

  .aside-block-one__title {
    font-size: 1.875rem;
  }

  .cards-block__container {
    padding-bottom: 3.125rem;
  }

  .cards-block__title {
    font-size: 1.875rem;
  }

  .aside-block-two {
    padding-top: 3.125rem;
  }

  .aside-block-two {
    padding-bottom: 3.125rem;
  }

  .aside-block-two__title {
    font-size: 1.875rem;
  }

  .cards__image {
    padding-left: 0.0000000625rem;
  }

  .aside-block-three__container {
    padding-top: 3.125rem;
  }

  .aside-block-three__container {
    padding-bottom: 3.125rem;
  }

  .aside-block-three__container {
    padding-left: 0.3125rem;
  }

  .aside-block-three__container {
    padding-right: 0.3125rem;
  }

  .aside-block-three__container {
    gap: 5rem;
  }

  .aside-block-three__title {
    font-size: 1.875rem;
  }

  .aside-block-four__container {
    padding-top: 3.125rem;
  }

  .aside-block-four__container {
    padding-bottom: 3.125rem;
  }

  .aside-block-four__title {
    font-size: 1.875rem;
  }

  .aside-block-five__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .card-content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .cards__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .cards__image img {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    padding: 2.5rem 0rem;
  }

  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 58.375em) {
  .aside-block-three__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) {
  .title-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icons-block {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 34.375em) {
  .aside-block-three__image img {
    max-width: 100%;
  }
}

@media (max-width: 32.75em) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 29.99875em) {
  .aside-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aside-block-one__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 27.375em) {
  .form-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0rem;
    gap: 1.25rem;
    background-color: #F2EFE6;
  }

  .form-block__input {
    background-color: #fff;
    border-radius: 15.9375rem;
    border: 1px solid #F2EFE6;
    margin-right: 0rem;
    padding: 0.625rem 0rem;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (margin-bottom: clamp( 2.5rem , 1.8258426966rem  +  3.3707865169vw , 4.375rem )) {
    .footer__body {
      margin-bottom: clamp( 2.5rem , 1.8258426966rem  +  3.3707865169vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.8258426966rem  +  3.3707865169vw , 4.375rem )) {
    .footer__body {
      margin-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .title-block__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .title-block__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .title-block__text {
      font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .title-block__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem )) {
    .aside-block {
      padding-top: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem )) {
    .aside-block {
      padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.7092696629rem  +  7.0786516854vw , 7.0625rem )) {
    .aside-block {
      padding-bottom: clamp( 3.125rem , 1.7092696629rem  +  7.0786516854vw , 7.0625rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.7092696629rem  +  7.0786516854vw , 7.0625rem )) {
    .aside-block {
      padding-bottom: calc(3.125rem + 3.9375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block__body {
      padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block__body {
      padding-left: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block__body {
      padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block__body {
      padding-right: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , -0.5028089888rem  +  8.7640449438vw , 6.125rem )) {
    .aside-block__body {
      gap: clamp( 1.25rem , -0.5028089888rem  +  8.7640449438vw , 6.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.5028089888rem  +  8.7640449438vw , 6.125rem )) {
    .aside-block__body {
      gap: calc(1.25rem + 4.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .aside-block__title {
      font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .aside-block__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .partners-block__container {
      padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .partners-block__container {
      padding-left: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .partners-block__container {
      padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .partners-block__container {
      padding-right: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .partners-block__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .partners-block__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem )) {
    .partners-block__content {
      padding-bottom: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem )) {
    .partners-block__content {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.7654494382rem  +  1.797752809vw , 4.125rem )) {
    .production-block__container {
      padding-top: clamp( 3.125rem , 2.7654494382rem  +  1.797752809vw , 4.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.7654494382rem  +  1.797752809vw , 4.125rem )) {
    .production-block__container {
      padding-top: calc(3.125rem + 1 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.125rem  +  10vw , 8.6875rem )) {
    .production-block__container {
      padding-bottom: clamp( 3.125rem , 1.125rem  +  10vw , 8.6875rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.125rem  +  10vw , 8.6875rem )) {
    .production-block__container {
      padding-bottom: calc(3.125rem + 5.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .production-block__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .production-block__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.0800561798rem  +  10.2247191011vw , 8.8125rem )) {
    .employees-block__container {
      padding-top: clamp( 3.125rem , 1.0800561798rem  +  10.2247191011vw , 8.8125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.0800561798rem  +  10.2247191011vw , 8.8125rem )) {
    .employees-block__container {
      padding-top: calc(3.125rem + 5.6875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.2148876404rem  +  9.5505617978vw , 8.4375rem )) {
    .employees-block__container {
      padding-bottom: clamp( 3.125rem , 1.2148876404rem  +  9.5505617978vw , 8.4375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.2148876404rem  +  9.5505617978vw , 8.4375rem )) {
    .employees-block__container {
      padding-bottom: calc(3.125rem + 5.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .employees-block__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .employees-block__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.2036516854rem  +  14.606741573vw , 11.25rem )) {
    .aside-block-one__container {
      padding-top: clamp( 3.125rem , 0.2036516854rem  +  14.606741573vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.2036516854rem  +  14.606741573vw , 11.25rem )) {
    .aside-block-one__container {
      padding-top: calc(3.125rem + 8.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5969101124rem  +  7.6404494382vw , 7.375rem )) {
    .aside-block-one__container {
      padding-bottom: clamp( 3.125rem , 1.5969101124rem  +  7.6404494382vw , 7.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5969101124rem  +  7.6404494382vw , 7.375rem )) {
    .aside-block-one__container {
      padding-bottom: calc(3.125rem + 4.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-one__container {
      padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-one__container {
      padding-left: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-one__container {
      padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-one__container {
      padding-right: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 1.25rem , -0.5028089888rem  +  8.7640449438vw , 6.125rem )) {
    .aside-block-one__container {
      gap: clamp( 1.25rem , -0.5028089888rem  +  8.7640449438vw , 6.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.5028089888rem  +  8.7640449438vw , 6.125rem )) {
    .aside-block-one__container {
      gap: calc(1.25rem + 4.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-one__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-one__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem )) {
    .cards-block__container {
      padding-bottom: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5519662921rem  +  7.8651685393vw , 7.5rem )) {
    .cards-block__container {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .cards-block__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .cards-block__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.0126404494rem  +  10.5617977528vw , 9rem )) {
    .aside-block-two {
      padding-top: clamp( 3.125rem , 1.0126404494rem  +  10.5617977528vw , 9rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.0126404494rem  +  10.5617977528vw , 9rem )) {
    .aside-block-two {
      padding-top: calc(3.125rem + 5.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.4620786517rem  +  8.3146067416vw , 7.75rem )) {
    .aside-block-two {
      padding-bottom: clamp( 3.125rem , 1.4620786517rem  +  8.3146067416vw , 7.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.4620786517rem  +  8.3146067416vw , 7.75rem )) {
    .aside-block-two {
      padding-bottom: calc(3.125rem + 4.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4929775281rem  +  1.9101123596vw , 2.9375rem )) {
    .aside-block-two__title {
      font-size: clamp( 1.875rem , 1.4929775281rem  +  1.9101123596vw , 2.9375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4929775281rem  +  1.9101123596vw , 2.9375rem )) {
    .aside-block-two__title {
      font-size: calc(1.875rem + 1.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem )) {
    .cards__image {
      padding-left: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -0.6741572184rem  +  3.3707864045vw , 1.875rem )) {
    .cards__image {
      padding-left: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.327247191rem  +  8.9887640449vw , 8.125rem )) {
    .aside-block-three__container {
      padding-top: clamp( 3.125rem , 1.327247191rem  +  8.9887640449vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.327247191rem  +  8.9887640449vw , 8.125rem )) {
    .aside-block-three__container {
      padding-top: calc(3.125rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.2148876404rem  +  9.5505617978vw , 8.4375rem )) {
    .aside-block-three__container {
      padding-bottom: clamp( 3.125rem , 1.2148876404rem  +  9.5505617978vw , 8.4375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.2148876404rem  +  9.5505617978vw , 8.4375rem )) {
    .aside-block-three__container {
      padding-bottom: calc(3.125rem + 5.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-three__container {
      padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-three__container {
      padding-left: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-three__container {
      padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.7773876404rem  +  10.4494382022vw , 6.125rem )) {
    .aside-block-three__container {
      padding-right: calc(0.3125rem + 5.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (gap: clamp( 5rem , 2.7078651685rem  +  11.4606741573vw , 11.375rem )) {
    .aside-block-three__container {
      gap: clamp( 5rem , 2.7078651685rem  +  11.4606741573vw , 11.375rem );
    }
}

@supports not (gap: clamp( 5rem , 2.7078651685rem  +  11.4606741573vw , 11.375rem )) {
    .aside-block-three__container {
      gap: calc(5rem + 6.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-three__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-three__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.6867977528rem  +  7.191011236vw , 7.125rem )) {
    .aside-block-four__container {
      padding-top: clamp( 3.125rem , 1.6867977528rem  +  7.191011236vw , 7.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.6867977528rem  +  7.191011236vw , 7.125rem )) {
    .aside-block-four__container {
      padding-top: calc(3.125rem + 4 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.4620786517rem  +  8.3146067416vw , 7.75rem )) {
    .aside-block-four__container {
      padding-bottom: clamp( 3.125rem , 1.4620786517rem  +  8.3146067416vw , 7.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.4620786517rem  +  8.3146067416vw , 7.75rem )) {
    .aside-block-four__container {
      padding-bottom: calc(3.125rem + 4.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-four__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-four__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-five__title {
      font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.470505618rem  +  2.0224719101vw , 3rem )) {
    .aside-block-five__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}
}

@media (any-hover: hover) {
  .header__button:hover {
    background: #105822;
  }

  .footer__icon img:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .footer__aside a:hover {
    color: #0e471c;
  }

  .aside-block-two__button a:hover {
    background-color: #146628;
  }

  .aside-block-three__button a:hover {
    background-color: #146628;
  }

  .aside-block-four__button a:hover {
    background-color: #bd8878;
  }

  .form-block__button:hover {
    background-color: #0f5320;
  }

  .form-block a:hover {
    color: #0e4e1e;
  }
}